body{
    background: url("./img/fon1.jpeg");
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}
h3{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 20px;
    margin-top: 44px;
    margin-bottom: 30px;
}

.block{
    position: absolute;
    width: 640px;
    height: 264px;
    left: 350px;
    top: 200px;

    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

.row mt-3{
    justify-content: center;
}


.block-1{
    position: absolute;
    width: 640px;
    height: 328px;
    left: 350px;
    top: 190px;
    background: #FFFFFF;
    border-radius: 10px;
}
.message{
    text-align: center;
}
.image{
    position: absolute;
}
.image img{
    left: -0.2%;
    right: 0.2%;
    justify-content: center;
    margin-left: 280px;
    background: rgba(0, 0, 0, 0.03);
}

.content{
    margin-top: 50px;
}

.form-select {
    height: 50px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    border-radius: 10px;
}